{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
  {% block javascripts %}
		 {{ parent() }}
		<script type="text/javascript" src="{{ asset('bundles/odiseoconagra/js/utils.js') }}"></script>
{% endblock %}
 
{% block content %}
<div class="entrenamiento_marcas">
	<div class="mainTitleContent clearfix">
		<h1 class="mainTitle pull-left">Entrenamiento de marcas</h1>
		<a href="{{ path('odiseo_conagra_frontend_entrenamiento_marcas_index') }}" class="backButton pull-right">
			{{ 'back_to_home' | trans | raw }}
		</a>
	</div>
	<div class="infoBrand act2">
		<div class="tabs">
			<ul>
				<li><a href="#" class="infoMarca active" data-tab="infoMarca"></a></li>
				<li><a href="#" class="catalogo" data-tab="catalogo"></a></li>
				<li><a href="#" class="manual" data-tab="manual"></a></li>
			</ul>
		</div>
		<div class="info">
			<img src="{{ asset('bundles/odiseoconagra/images/marcas/solo/act2.png') }}" class="logo">
			<div class="mainInfo">
				<div class="tabContent infoMarca">
					<h3>Información de la marca</h3>
					<div class="infoContent">
						<p>
							{{ 'brands_info_act2' | trans | raw }}
						</p>
					</div>
				</div>
				<div class="tabContent catalogo hide">
					<ul class="catalogoMenu">
						<li><a href="#" class="active" data-tab="act2">ACT II</a></li>
						<li><a href="#" data-tab="kroritos">KRORITOS</a></li>
						<li><a href="#" data-tab="tripack">TRI PACK TWO PACK</a></li>
					</ul>
					<h3>Catálogo ACT II</h3>
					<div class="infoContent">
						<div class="catalogoContent act2">
							<a href="#" class="img1"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/act2_1.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img2"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/act2_2.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img3"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/act2_3.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img4"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/act2_4.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img5"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/act2_5.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img6"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/act2_6.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img7"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/act2_7.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img8"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/act2_8.png') }}" class="img-responsive pull-left"></a>
						</div>
						<div class="catalogoContent kroritos hide">
							<a href="#" class="img1"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/krokitos1.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img2"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/krokitos2.png') }}" class="img-responsive pull-left"></a>
						</div>
						<div class="catalogoContent tripack hide">
							<a href="#" class="img1"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/tri_1.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img2"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/tri_2.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img3"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/tri_3.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img4"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/tri_4.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img5"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/tri_5.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img6"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/tri_6.png') }}" class="img-responsive pull-left"></a>
							<a href="#" class="img7"><img src="{{ asset('bundles/odiseoconagra/images/catalogos/act2/tri_7.png') }}" class="img-responsive pull-left"></a>
						</div>
					</div>
				</div>
				<div class="tabContent manual hide">
					<h3>Manual de marca</h3>
					<div class="infoContent">
						<div class="downloads clearfix">
							<div class="downloadItem">
								<a class="name" href="{{ asset('bundles/odiseoconagra/downloads/manual/act2_manual.pdf') }}" target="_blank">Manual de la marca</a>
								<p class="fileInfo">ZIP, 10MB</p>
							</div>
							<div class="downloadItem">
								<a class="name" href="{{ asset('bundles/odiseoconagra/downloads/manual/act2_sell_sheet.pdf') }}" target="_blank">Sell Sheet</a>
								<p class="fileInfo">ZIP, 2.46MB</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="otherData hidden-xs">
				<h3>Datos curiosos</h3>
				<div class="otherContent">
					<ul>
						{{ 'curious_facts_act2' | trans | raw }}
					</ul>
				</div>
			</div>
		</div>
		<div class="datosCuriosos visible-xs">
			<img onclick="UTILS.showModal();" src="{{ asset('bundles/odiseoconagra/images/infoBrand/datos_curiosos_act2.png') }}">
		</div>
		<div class="social">
			<ul>
				<li><a href="http://www.act2latam.com" target="_blank"><img src="{{ asset('bundles/odiseoconagra/images/wp-icon.png') }}"></a></li>
				<li><a href="http://twitter.com/act2latam" target="_blank"><img src="{{ asset('bundles/odiseoconagra/images/twitter-icon.png') }}"></a></li>
				<li><a href="http://facebook.com/acttwoespanol" target="_blank"><img src="{{ asset('bundles/odiseoconagra/images/facebook-icon.png') }}"></a></li>
				<li><a href="http://instagram.com/act2latam" target="_blank"><img src="{{ asset('bundles/odiseoconagra/images/instagram-icon.png') }}"></a></li>
			</ul>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content style="border: 0;">
		<div class="otherData_m">
			<h3>Datos curiosos</h3>
			<div class="otherContent">
				<ul>
						{{ 'curious_facts_act2' | trans | raw }}
				</ul>
			</div>
		</div>
    </div>
  </div>
</div>

{% endblock %}
