{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
 {% block javascripts %}
		 {{ parent() }}
		<script type="text/javascript" src="{{ asset('bundles/odiseoconagra/js/utils.js') }}"></script>
{% endblock %}
 
{% block content %}
<div class="entrenamiento_marcas">
	<div class="mainTitleContent clearfix">
		<h1 class="mainTitle pull-left">Entrenamiento de marcas</h1>
		<a href="{{ path('odiseo_conagra_frontend_entrenamiento_marcas_index') }}" class="backButton pull-right">
			{{ 'back_to_home' | trans | raw }}
		</a>
	</div>
	<div class="infoBrand hunts">
		<div class="tabs">
			<ul>
				<li><a href="#" class="infoMarca green active" data-tab="infoMarca"></a></li>
				<li><a href="#" class="catalogo green" data-tab="catalogo"></a></li>
				<li><a href="#" class="manual green" data-tab="manual"></a></li>
			</ul>
		</div>
		<div class="info">
			<img src="{{ asset('bundles/odiseoconagra/images/marcas/solo/hunts.png') }}" class="logo">
			<div class="mainInfo red">
				<div class="tabContent infoMarca">
					<h3>{{ 'brands_trainee_brand_information' | trans | raw }}</h3>
					<h4>Hunt's ®</h4>
					<div class="infoContent">
						<p>
							{{ 'brands_info_hunts' | trans | raw }}						
						</p>
					</div>
				</div>
				<div class="tabContent catalogo red hide">
					<ul class="catalogoMenu">
						<li><a href="#" class="active" data-tab="pastas">Pastas, Salsas <br>y Variedades</a></li>
						<li><a href="#" data-tab="variedades">Variedades <br>en Trozos</a></li>
						<li><a href="#" data-tab="ketchup">Ketchup</a></li>
						<li><a href="#" data-tab="barbacoa">Barbacoa</a></li>
					</ul>
					<h3>Catálogo</h3>
					<div class="infoContent">
						<div class="catalogoContent pastas">
							<img src="{{ asset('bundles/odiseoconagra/images/catalogos/hunts_pastas.png') }}" class="img-responsive center-block">
						</div>
						<div class="catalogoContent variedades hide">
							<img src="{{ asset('bundles/odiseoconagra/images/catalogos/hunts_variedades.png') }}" class="img-responsive center-block">
						</div>
						<div class="catalogoContent ketchup hide">
							<img src="{{ asset('bundles/odiseoconagra/images/catalogos/hunts_ketchup.png') }}" class="img-responsive center-block">
						</div>
						<div class="catalogoContent barbacoa hide">
							<img src="{{ asset('bundles/odiseoconagra/images/catalogos/hunts_barbacoa.png') }}" class="img-responsive center-block">
						</div>
					</div>
				</div>
				<div class="tabContent manual red hide">
					<h3>Manual de marca</h3>
					<div class="infoContent">
						<div class="downloads clearfix">
							<div class="downloadItem">
								<a class="name" href="{{ asset('bundles/odiseoconagra/downloads/manual/hunts_manual.pdf') }}" target="_blank">Manual de la marca</a>
								<p class="fileInfo">ZIP, 10MB</p>
							</div>
							<div class="downloadItem">
								<a class="name" href="{{ asset('bundles/odiseoconagra/downloads/manual/hunts_sell_sheets.zip') }}" target="_blank">Sell Sheets</a>
								<p class="fileInfo">ZIP, 2.46MB</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="otherData red hidden-xs">
				<h3>{{ 'brands_trainee_curious_facts' | trans | raw }}</h3>
				<div class="otherContent">
					<p>
							{{ 'curious_facts_hunts' | trans | raw }}
					</p>
				</div>
			</div>
		</div>
		<div class="datosCuriosos visible-xs">
			<img onclick="UTILS.showModal();" src="{{ asset('bundles/odiseoconagra/images/infoBrand/datos_curiosos_hunts.png') }}">
		</div>
		<div class="social hide">
			<ul>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/wp-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/twitter-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/facebook-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/instagram-icon.png') }}"></a></li>
			</ul>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content style="border: 0;">
		<div class="otherData_m red">
			<h3>{{ 'brands_trainee_curious_facts' | trans | raw }}</h3>
			<div class="otherContent">
				<p>
							{{ 'curious_facts_hunts' | trans | raw }}
				</p>
			</div>
		</div>
    </div>
  </div>
</div>
{% endblock %}

