{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
  {% block javascripts %}
		 {{ parent() }}
		<script type="text/javascript" src="{{ asset('bundles/odiseoconagra/js/utils.js') }}"></script>
{% endblock %}
 
 
{% block content %}
<div class="entrenamiento_marcas">
	<div class="mainTitleContent clearfix">
		<h1 class="mainTitle pull-left">Entrenamiento de marcas</h1>
		<a href="{{ path('odiseo_conagra_frontend_entrenamiento_marcas_index') }}" class="backButton pull-right">
			{{ 'back_to_home' | trans | raw }}
		</a>
	</div>
	<div class="infoBrand peterpan">
		<div class="tabs">
			<ul>
				<li><a href="#" class="infoMarca yellow active" data-tab="infoMarca"></a></li>
				<li><a href="#" class="catalogo yellow" data-tab="catalogo"></a></li>
				<li><a href="#" class="manual yellow" data-tab="manual"></a></li>
			</ul>
		</div>
		<div class="info">
			<img src="{{ asset('bundles/odiseoconagra/images/marcas/solo/peterpan.png') }}" class="logo">
			<div class="mainInfo red">
				<div class="tabContent infoMarca">
					<h3>{{ 'brands_trainee_brand_information' | trans | raw }}</h3>
					<div class="infoContent">
						<p>
								{{ 'brands_info_peterpan' | trans | raw }}	
						</p>
					</div>
				</div>
				<div class="tabContent catalogo red hide">
					<h3>Catálogo</h3>
					<div class="infoContent">
						<img src="{{ asset('bundles/odiseoconagra/images/catalogos/peterpan.png') }}" class="img-responsive center-block">
					</div>
				</div>
				<div class="tabContent manual red hide">
					<h3>Manual de marca</h3>
					<div class="infoContent">
						<div class="downloads clearfix">
							<div class="downloadItem">
								<a class="name" href="{{ asset('bundles/odiseoconagra/downloads/manual/peter_pan_manual.pdf') }}" target="_blank">Manual de la marca</a>
								<p class="fileInfo">ZIP, 10MB</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="otherData red hidden-xs">
				<h3>{{ 'brands_trainee_curious_facts' | trans | raw }}</h3>
				<div class="otherContent">
							{{ 'curious_facts_peterpan' | trans | raw }}
				</div>
			</div>
		</div>
		
		<div class="datosCuriosos visible-xs">
			<img onclick="UTILS.showModal();" src="{{ asset('bundles/odiseoconagra/images/infoBrand/datos_curiosos_peter_pan.png') }}">
		</div>
		<div class="social hide">
			<ul>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/wp-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/twitter-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/facebook-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/instagram-icon.png') }}"></a></li>
			</ul>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content style="border: 0;">
		<div class="otherData_m red">
				<h3>{{ 'brands_trainee_curious_facts' | trans | raw }}</h3>
				<div class="otherContent">
					{{ 'curious_facts_peterpan' | trans | raw }}
				</div>
		</div>
    </div>
  </div>
</div>


{% endblock %}
