{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
 {% block javascripts %}
		 {{ parent() }}
		<script type="text/javascript" src="{{ asset('bundles/odiseoconagra/js/utils.js') }}"></script>
{% endblock %}
 
 
{% block content %}
<div class="entrenamiento_marcas">
	<div class="mainTitleContent clearfix">
		<h1 class="mainTitle pull-left">Entrenamiento de marcas</h1>
		<a href="{{ path('odiseo_conagra_frontend_entrenamiento_marcas_index') }}" class="backButton pull-right">
			<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
		</a>
	</div>
	<div class="infoBrand snackpack">
		<div class="tabs">
			<ul>
				<li><a href="#" class="infoMarca active" data-tab="infoMarca"></a></li>
				<li><a href="#" class="catalogo" data-tab="catalogo"></a></li>
				<li><a href="#" class="manual" data-tab="manual"></a></li>
			</ul>
		</div>
		<div class="info">
			<img src="{{ asset('bundles/odiseoconagra/images/marcas/solo/snackpack.png') }}" class="logo">
			<div class="mainInfo red">
				<div class="tabContent infoMarca">
					<h3>Información de la marca</h3>
					<h4>Snack Pack ®¡el pudín disfrutado por toda la familia!</h4>
					<div class="infoContent">
						<p>
							{{ 'brands_info_snackpack' | trans | raw }}	
						</p>
					</div>
				</div>
				<div class="tabContent catalogo red hide">
					<ul class="catalogoMenu">
						<li><a href="#" class="active" data-tab="basicos">BÁSICOS</a></li>
						<li><a href="#" data-tab="triples">TRIPLES</a></li>
						<li><a href="#" data-tab="fat-free">FAT FREE</a></li>
						<li><a href="#" data-tab="sugar-free">SUGAR FREE</a></li>
						<li><a href="#" data-tab="gelatinas">GELATINAS</a></li>
					</ul>
					<h3>Catálogo</h3>
					<div class="infoContent">
						<div class="catalogoContent basicos">
							<img src="{{ asset('bundles/odiseoconagra/images/catalogos/snackpack_basicos.png') }}" class="img-responsive center-block">
						</div>
						<div class="catalogoContent triples hide">
							<img src="{{ asset('bundles/odiseoconagra/images/catalogos/snackpack_triples.png') }}" class="img-responsive center-block">
						</div>
						<div class="catalogoContent fat-free hide">
							<img src="{{ asset('bundles/odiseoconagra/images/catalogos/snackpack_fat_free.png') }}" class="img-responsive center-block">
						</div>
						<div class="catalogoContent sugar-free hide">
							<img src="{{ asset('bundles/odiseoconagra/images/catalogos/snackpack_sugar_free.png') }}" class="img-responsive center-block">
						</div>
						<div class="catalogoContent gelatinas hide">
							<img src="{{ asset('bundles/odiseoconagra/images/catalogos/snackpack_gelatinas.png') }}" class="img-responsive center-block">
						</div>
					</div>
				</div>
				<div class="tabContent manual red hide">
					<h3>Manual de marca</h3>
					<div class="infoContent">
						<div class="downloads clearfix">
							<div class="downloadItem">
								<a class="name" href="{{ asset('bundles/odiseoconagra/downloads/manual/snack_pack_manual.pdf') }}" target="_blank">Manual de la marca</a>
								<p class="fileInfo">ZIP, 10MB</p>
							</div>
							<div class="downloadItem">
								<a class="name" href="{{ asset('bundles/odiseoconagra/downloads/manual/snack_pack_asset_guide.pdf') }}" target="_blank">Asset Guide</a>
								<p class="fileInfo">ZIP, 2.46MB</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="otherData red hidden-xs">
				<h3>Datos curiosos</h3>
				<div class="otherContent">
							{{ 'curious_facts_snackpack' | trans | raw }}
				</div>
			</div>
		</div>
		<div class="datosCuriosos visible-xs">
			<img onclick="UTILS.showModal();" src="{{ asset('bundles/odiseoconagra/images/infoBrand/datos_curiosos_snack_pack.png') }}">
		</div>
		<div class="social hide">
			<ul>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/wp-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/twitter-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/facebook-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/instagram-icon.png') }}"></a></li>
			</ul>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content style="border: 0;">
		<div class="otherData_m red">
			<h3>Datos curiosos</h3>
			<div class="otherContent">
				{{ 'curious_facts_snackpack' | trans | raw }}
			</div>
		</div>
    </div>
  </div>
</div>
{% endblock %}
