{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="entrenamiento_marcas">
	<div class="mainTitleContent clearfix">
		<h1 class="mainTitle pull-left">Entrenamiento de marcas</h1>
		<a href="{{ path('odiseo_conagra_frontend_entrenamiento_marcas_index') }}" class="backButton pull-right">&larr; Volver a inicio</a>
	</div>
	<div class="infoBrand snackpack">
		<div class="tabs">
			<ul>
				<li><a href="#" class="infoMarca active" data-tab="infoMarca"></a></li>
				<li><a href="#" class="catalogo" data-tab="catalogo"></a></li>
				<li><a href="#" class="manual" data-tab="manual"></a></li>
			</ul>
		</div>
		<div class="info">
			<img src="{{ asset('bundles/odiseoconagra/images/marcas/solo/snackpack.png') }}" class="logo">
			<div class="mainInfo red">
				<div class="tabContent infoMarca">
					<h3>Información de la marca</h3>
					<h4>Snack Pack ®¡el pudín disfrutado por toda la familia!</h4>
					<div class="infoContent">
						<p>Snack Pack se introdujo en 1968 como pudines no refrigerados y estables para el almacenamiento en presentación de una sola porción en lata de aluminio. 
						Fue hasta 1984 en donde se empieza a comercializar en vasos plásticos, siendo la primera marca de la categoría en presentarlo así, y en envases plásticos 
						transparentes a partir de 1990. 
						Su textura suave y cremosa, junto con la posibilidad de ser disfrutado en cualquier momento y lugar, lo convierte en un atractivo y dulce placer.
						<br>   
						Está disponible en las variedades: sabores regulares,  capas de sabores, libre de grasa y libres de azúcar. Manteniendo su presentación de 1 sola porción por envase,
					    Snack Pack, es un dulce saludable porque está hecho con verdadera leche sin grasa, no utiliza conservantes, y nunca ha contenido el jarabe de maíz de alta fructosa. 					
						</p>
					</div>
				</div>
				<div class="tabContent catalogo red hide">
					<h3>Catálogo</h3>
					<div class="infoContent">
						<img src="{{ asset('bundles/odiseoconagra/images/catalogos/snackpack.png') }}" class="img-responsive center-block">
					</div>
				</div>
				<div class="tabContent manual red hide">
					<h3>Manual de marca</h3>
					<div class="infoContent">
						<div class="downloads clearfix">
							<div class="downloadItem">
								<a href="#" class="name">Manual de la marca</a>
								<p class="fileInfo">ZIP, 10MB</p>
							</div>
							<div class="downloadItem">
								<a href="#" class="name">Sell Sheet</a>
								<p class="fileInfo">ZIP, 2.46MB</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="otherData red">
				<h3>Datos curiosos</h3>
				<div class="otherContent">
					<p>¿Sabías Snack Pack hizo un cameo en la película Billy Madison? El personaje de Adam Sandler hace todo lo posible para enganchar un Snack Pack! 					
					</p>
					<br>
					<a href="https://www.youtube.com/watch?v=ZExPoZGQ8gM">Ver video</a>
				</div>
			</div>
		</div>
		<div class="social hide">
			<ul>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/wp-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/twitter-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/facebook-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/instagram-icon.png') }}"></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
