{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="entrenamiento_marcas">
	<div class="mainTitleContent clearfix">
		<h1 class="mainTitle pull-left">Entrenamiento de marcas</h1>
		<a href="{{ path('odiseo_conagra_frontend_entrenamiento_marcas_index') }}" class="backButton pull-right">&larr; Volver a inicio</a>
	</div>
	<div class="infoBrand wesson">
		<div class="tabs">
			<ul>
				<li><a href="#" class="infoMarca green active" data-tab="infoMarca"></a></li>
				<li><a href="#" class="catalogo green" data-tab="catalogo"></a></li>
				<li><a href="#" class="manual green" data-tab="manual"></a></li>
			</ul>
		</div>
		<div class="info">
			<img src="{{ asset('bundles/odiseoconagra/images/marcas/solo/wesson.png') }}" class="logo">
			<div class="mainInfo green">
				<div class="tabContent infoMarca">
					<h3>Información de la marca</h3>
					<div class="infoContent">
						<p>Wesson era originalmente una marca comercial de la Southern Oil Company, y fue nombrada por su creador David Wesson (1861-1934), un químico de alimentos que en 1899 desarrolló un nuevo procedimiento que permitió desarrollar el primer aceite comestible vegetal del mundo.  
						   Todos los aceites de Wesson: Canola, Vegetal, Maíz y Best Blend pasan por un proceso de 24 pasos de purificación que los mantienen libre de impurezas o partículas que causan mal olor y mal sabor. Una diferencia que se ve, por su claridad.  
							En las directrices dietéticas del USDA (Departamento de Agricultura de los E.U.) se recomienda que la mayoría de las grasas en una dieta equilibrada debe provenir de fuentes de grasas poliinsaturadas y ácidos grasos monoiinsaturados, como el pescado, las nueces y los aceites vegetales, así como los contiene el aceite de canola Wesson.					
						</p>
					</div>
				</div>
				<div class="tabContent catalogo red hide">
					<h3>Catálogo</h3>
					<div class="infoContent">
						<img src="{{ asset('bundles/odiseoconagra/images/catalogos/wesson.png') }}" class="img-responsive center-block">
					</div>
				</div>
				<div class="tabContent manual red hide">
					<h3>Manual de marca</h3>
					<div class="infoContent">
						<div class="downloads clearfix">
							<div class="downloadItem">
								<a href="#" class="name">Manual de la marca</a>
								<p class="fileInfo">PDF, 10MB</p>
							</div>
							<div class="downloadItem">
								<a href="#" class="name">Sell Sheet</a>
								<p class="fileInfo">PDF, 2.46MB</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="otherData green">
				<h3>Datos curiosos</h3>
				<div class="otherContent">
					<p>En 1991 Wesson introdujo el Aceite de Canola. La grasa proveniente de la semilla canola, no solo favorece la absorción de vitaminas A,D,E y K, sino que garantiza sus beneficios saludables. 
					   En los últimos cinco años las ventas de aceite de canola aumentaron cerca de $2.000 millones de dólares en todo el mundo. 
					   En el 2001, los más importantes chefs del 					
					</p>
				</div>
			</div>
		</div>
		<div class="social">
			<ul>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/wp-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/twitter-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/facebook-icon.png') }}"></a></li>
				<li><a href="#"><img src="{{ asset('bundles/odiseoconagra/images/instagram-icon.png') }}"></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
