{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block menu %}{% endblock %}

{% block content %}
<div class="quienesconagra">
	<div class="quienes_04">
		<div class="row">
			<div class="col-sm-offset-1"></div>
			<div class="row col-sm-10 col-sm-offset-1 categorias">
				<div class="col-sm-4 marca consumo">
					<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '07' }) }}">
					<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/04_marca_consumo.png') }}" class="img-responsive">
					<span>Marca de Consumo</span>
					</a>
				</div>
				<div class="col-sm-4 marca privada">
					<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '08' }) }}">
					<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/04_marca_privada.png') }}" class="img-responsive">
					<span>Marca Privada</span>
					</a>
				</div>
				<div class="col-sm-4 marca comercial">
					<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '09' }) }}">
					<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/04_comercial.png') }}" class="img-responsive">
					<span>Marca Comercial</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '03' }) }}" class="arrowButton prevArrow hvr-rotate" 
		data-toggle="popover" data-content="" data-placement="top" title="Siguiente" data-trigger="hover">
	</a>
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': '05' }) }}" class="arrowButton nextArrow hvr-rotate" 
		data-toggle="popover" data-content="" data-placement="top" title="Siguiente" data-trigger="hover">
	</a>
</div>
{% endblock %}