{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block main %}
<div id="content">
	<div class="quien_es commercial_foods">
		<h1 class="mainTitle">Commercial Foods</h1>
		<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/commercial_foods.png') }}" alt="commercial-foods" class="img-responsive center-block commercialFoods">
	</div>
	
	<div class="commercial_foods_mobile">
			<div class="col-xs-12  col-sm-6">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/commercial_foods_m1.png') }}" alt="commercial-foods" class="img-responsive center-block commercialFoods">
			</div>
						
			<div class="col-xs-12 col-sm-6">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/commercial_foods_m2.png') }}" alt="commercial-foods" class="img-responsive center-block commercialFoods">
			</div>
			<div class="col-xs-12 col-sm-6">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/commercial_foods_m3.png') }}" alt="commercial-foods" class="img-responsive center-block commercialFoods">
			</div>
			<div class="col-xs-12 col-sm-6">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/commercial_foods_m4.png') }}" alt="commercial-foods" class="img-responsive center-block commercialFoods">
			</div>
			<div class="col-xs-12 col-sm-6">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/commercial_foods_m5.png') }}" alt="commercial-foods" class="img-responsive center-block commercialFoods">
			</div>
	</div>
	
</div>
<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/commercial_background.png') }}" alt="commercial background" class="commercialFoodsBackground">
{% endblock %}
