{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}

{% block javascripts %}

    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/odiseoconagra/js/timeline.js') }}"></script>
    
    <script>
		 TIME_LINE.init();
		$('#many-stories').css('background', 'black');
	</script>
{% endblock %}
 
{% block content %}
<div class="quien_es many-stories">
	<h1 class="mainTitle">One Company. Many Stories</h1>
	<div class="timelineContainer" data-timeline-img-path-prefix="{{ asset('bundles/odiseoconagra/images/quienesconagra/timeline/') }}">
		{% include 'OdiseoConAgraBundle:Frontend:QuienEs/timeline-svg.html.twig' %}\
	</div>
	<div class="timelineArrows hidden-xs center-block">
		<a href="#" class="left"><img src="{{ asset('bundles/odiseoconagra/images/arrow_black.png') }}"></a>
		<a href="#"><img src="{{ asset('bundles/odiseoconagra/images/arrow_black.png') }}"></a>
	</div>
	
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': 'quick-facts' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="Quick Facts" data-placement="top" title="2/5" data-trigger="hover">
	</a>
</div>

{% endblock %}