{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="quien_es quienEsConagra">

    <a  href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': 'our-purpose' }) }}" class="backButton pull-right">
		<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
	</a>
	
	<div class="customDiv_foreground"> 
		<div>
			 <p class="mainTitle"> {{ 'conagra_who_is' | trans | raw }} </p> 
			 <h3 class="mainInfo"> {{ 'who_we_are_we_make_food' | trans | raw }} </h3>
			 <p>
			 	{{ 'who_we_are_description' | trans | raw }} 
			 </p>
		</div>
		<div class="customDiv_green_1">
		</div> 
		<div class="customDiv_green_2">
		</div>
	</div>
	
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': 'our-purpose' }) }}" class="pageButton previousButton"
		data-toggle="popover" data-content="{{'conagra_our_purpose' | trans | raw }}" data-placement="top" title="1/4" data-trigger="hover">
	</a>
	<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': 'operations-report' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="{{'conagra_operations_reports' | trans | raw }}" data-placement="top" title="3/4" data-trigger="hover">
	</a>
</div>
{% endblock %}
