{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas act2 sugerido4">
	<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
		<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
	</a>
	<h1 class="mainTitle">Exhibición en Mueble</h1>
	<div>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-planograma-sugerido-5' }) }}">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 firstDivImage">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/Act II/actII_4_1.png') }}" alt="Act" class="img-responsive center-block img1">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 secondDivImage">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/Act II/actII_4_2.png') }}" alt="Act" class="img-responsive center-block img2">
			</div>
		</div>
		</a>
	</div>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-planograma-sugerido-3' }) }}" class="pageButton previousButton"
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="3/5" data-trigger="hover">
	</a>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-planograma-sugerido-5' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="5/5" data-trigger="hover">
	</a>
</div>
{% endblock %}
