{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas act2 sugerido2">
	<div class="title clearfix">
		<h1 class="mainTitle">Planogramas Sugeridos</h1>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
			<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
		</a>
	</div>
	<div class="row">
		<div class="img1 col-md-6 col-sm-6 col-xs-12">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/Act II/sugerido1.png') }}" alt="Act" class="img-responsive center-block img1">
		</div>
		<div class="img2 col-md-6 col-sm-6 col-xs-12">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/Act II/sugerido2.png') }}" alt="Act"  class="img-responsive img2 center-block">
		</div>
	</div>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-indicaciones-generales' }) }}" class="pageButton previousButton"
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="1/5" data-trigger="hover">
	</a>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-planograma-sugerido-3' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="3/5" data-trigger="hover">
	</a>
</div>
{% endblock %}
