{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas hunts hunt_background">
	<div class="title clearfix">
		<h1 class="mainTitle">Indicaciones Generales</h1>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
			<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
		</a>
	</div>
	<div class="generales clearfix" style="height: 60%;">
		<div class="indicaciones" style="height: 100%;">
		 	<p>
		 		<strong>Para productos en lata:</strong>
		 		<br/>
				<ul>
					<li>Procurar colocar los productos en bloques o cuadros verticales, para destacar el llamado bloque rojo</li>
					<li>Separarnos por completo de marcas locales o reconocimiento popular.</li>  
					<li class="dobleline" >Las referencias más buscadas o de sabores "originales" deben ser colocadas siempre al inicio del bloque y a la izquierda.</li>
					<li>Los tomates en trozos o "Diced" deben tener un espacio propio.</li>
				</ul>
		 		<strong>Para el Kétchup:</strong>
		 		</br></br>		 		
				<ul>
					<li>Siempre colocarlo junto a marcas importadas.</li>
				</ul>		 	
		 	</p>
		</div>
		<div class="logo hidden-xs">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/hunts/hunts_logo.png') }}" alt="HUNTS"  class="img-responsive logo-image">
		</div>
	</div>
	
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-planograma-sugerido-5' }) }}" class="pageButton previousButton"
		data-toggle="popover" data-content="{{ 'planograms_suggested' | trans |  raw }}" data-placement="top" title="5/6" data-trigger="hover">
	</a>	
	
</div>
{% endblock %}
