{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas hunts hunt_background">
	<div class="visible-xs">
		<div class="logo_m">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/hunts/hunts_logo.png') }}" alt="hunts"  class="img-responsive logo-image center-block">
		</div>
	</div>
	<div class="title clearfix">
		<h1 class="mainTitle">{{ 'general_observations_hunts' | trans |  raw }}</h1>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
			<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
		</a>
	</div>
	<div class="generales clearfix">
		<div class="indicaciones">
		 	<p>
				{{ 'planograms_generals_hunts' | trans |  raw }}
		 	</p>
		</div>
		<div class="logo hidden-xs"">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/hunts/hunts_logo.png') }}" alt="HUNTS"  class="img-responsive logo-image">
		</div>
	
		<div class="hidden-xs">
			<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-planograma-sugerido-2' }) }}"> <h1 class="mainTitle">{{ 'recommended_planimetry_hunts' | trans |  raw }}</h1></a>
		</div> 
		
		<div class="sugerido visible-xs">
			<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-planograma-sugerido-2' }) }}">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/loupe.png') }}">
				<h1 class="planoTitle">{{ 'recommended_planimetry_hunts' | trans |  raw }}</h1>
			</a>
		</div> 	
	</div>

		
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-planograma-sugerido-2' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="{{ 'planograms_suggested' | trans |  raw }}" data-placement="top" title="2/6" data-trigger="hover">
	</a>	
	
</div>
{% endblock %}
