{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas">
	<h1 class="mainTitle">Planogramas</h1>
	<div class="brands-container">
		<ul class="brands">
			<li><a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-indicaciones-generales' }) }}"><img src="{{ asset('bundles/odiseoconagra/images/planogramas/act2.png') }}"></a></li>
			<li><a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-indicaciones-generales' }) }}"><img src="{{ asset('bundles/odiseoconagra/images/planogramas/peter_pan.png') }}"></a></li>
			<li><a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-indicaciones-generales' }) }}"><img src="{{ asset('bundles/odiseoconagra/images/planogramas/snack_pack.png') }}"></a></li>
		</ul>
		<ul class="brands">
			<li><a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-indicaciones-generales' }) }}"><img src="{{ asset('bundles/odiseoconagra/images/planogramas/hunts.png') }}"></a></li>
			<li><a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-indicaciones-generales' }) }}"><img src="{{ asset('bundles/odiseoconagra/images/planogramas/swiss_miss.png') }}"></a></li>
			<li><a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-indicaciones-generales' }) }}"><img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson.png') }}"></a></li>
			<li><a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'hunts-indicaciones-generales' }) }}"><img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam.png') }}"></a></li>
		</ul>
	</div>
</div>
{% endblock %}
