<div class="circlemenu" style="z-index: 10;">
	<ul>
		<li><a id="act-indicaciones-generales" href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-indicaciones-generales' }) }}"><span></span></a></li>
		<li><a id="act-planograma-sugerido-2" href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-planograma-sugerido-2' }) }}"><span></span></a></li>
		<li><a id="act-planograma-sugerido-3" href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-planograma-sugerido-3' }) }}"><span></span></a></li>
		<li><a id="act-planograma-sugerido-4" href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-planograma-sugerido-4' }) }}"><span></span></a></li>
		<li><a id="act-planograma-sugerido-5" href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'act-planograma-sugerido-5' }) }}"><span></span></a></li>
	</ul>
</div>

<script>
		var value = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
		var element = document.getElementById(value);
		element.style.background = '#969D15';
</script>