{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas pam">
	<div class="visible-xs">
		<div class="logo_m">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_1_logo.png') }}" alt="pam"  class="img-responsive logo-image center-block">
		</div>
	</div>
	<div class="title clearfix">
		<h1 class="mainTitle">PAM</h1>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
			{{ 'back_to_home' | trans | raw }}
		</a>
	</div>
	<div class="generales clearfix">
		<div class="indicaciones row">
			<div class="col-md-8 col-sm-8 col-xs-12">
			 	<p>
						{{ 'planograms_generals_pam' | trans |  raw }}
				</p>
			</div>
			<div class="col-md-4 col-sm-4 hidden-xs">
				<div class="logo">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_1_logo.png') }}" alt="PAM"  class="img-responsive">
				</div>
			</div>
		</div>
		<div class="images hidden-xs">
			<div class="row">
				<div class="firstCol col-md-6">
					<div class="img1">
						<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_1_1.png') }}" alt="PAM"  class="img-responsive pull-right">
					</div>
				</div>
				<div class="secondCol col-md-6">
					<div class="img2">
						<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_1_2.png') }}" alt="PAM"  class="img-responsive pull-left">
					</div>				
				</div>
			</div>
		</div>
		<div class="sugerido visible-xs">
			<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'pam-planograma-sugerido-2' }) }}">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/loupe.png') }}">
				<h1 class="planoTitle">Planimetria Recomendada</h1>
			</a>
		</div> 		
	</div>	
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'pam-planograma-sugerido-2' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="{{ 'planograms_suggested' | trans |  raw }}" data-placement="top" title="2/3" data-trigger="hover">
	</a>
</div>
{% endblock %}
