{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas pam sugerido3">
	<div class="title clearfix">
		<h1 class="mainTitle">Planograma Sugerido</h1>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
			{{ 'back_to_home' | trans | raw }}
		</a>
	</div>
	<div class="row">
		<a href="#">
			<div class="img1 col-md-12">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_3.png') }}" alt="pam"  class="img-responsive center-block">
			</div>
		</a>
	</div>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'pam-planograma-sugerido-2' }) }}" class="pageButton previousButton"
		data-toggle="popover" data-content="{{ 'planograms_suggested' | trans |  raw }}" data-placement="top" title="2/3" data-trigger="hover">
	</a>
</div>
{% endblock %}
