{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas pam">
	<div class="title clearfix">
		<h1 class="mainTitle">PAM</h1>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
			<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
		</a>
	</div>
	<div class="generales clearfix">
		<div class="indicaciones row">
			<div class="col-md-8 col-sm-8 col-xs-12">
			 	<p>
					<ul>
						<li>PAM es el aceite en aerosol con mayor variedad de sabores liderando esta categoría.</li>
						<li>Nuestra recomendación es que el producto se coloque en horizontales, con 2 caras por clase.</li>  
						<li>Lograr exhibiciones secundarias en zonas de: mezcla para dulces y panes, pasillo de barbacoa y área de huevos o arepas, tortillas y desayunos.</li>
					</ul>
				</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="logo">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_1_logo.png') }}" alt="PAM"  class="img-responsive">
				</div>
			</div>
		</div>
		<div class="images">
			<div class="row">
				<div class="firstCol col-md-6">
					<div class="img1">
						<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_1_1.png') }}" alt="PAM"  class="img-responsive pull-right">
					</div>
				</div>
				<div class="secondCol col-md-6">
					<div class="img2">
						<img src="{{ asset('bundles/odiseoconagra/images/planogramas/pam/pam_1_2.png') }}" alt="PAM"  class="img-responsive pull-left">
					</div>				
				</div>
			</div>
		</div>
	</div>	
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'pam-planograma-sugerido-2' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="2/3" data-trigger="hover">
	</a>
</div>
{% endblock %}