{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas peterpan">
	<div class="visible-xs">
		<div class="logo_m">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/peterpan/peterpan_1_logo.png') }}" alt="peterpan"  class="img-responsive logo-image center-block">
		</div>
	</div>
	<div class="title clearfix">
		<h1 class="mainTitle">{{'varieties_peterpan' | trans | raw }}</h1>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
			<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
		</a>
	</div>
	<div class="generales clearfix">
		<div class="indicaciones row">
			<div class="col-md-6 col-sm-6 col-xs-12">
			 	<p>
					{{ 'planograms_generals_peterpan' | trans |  raw }}
				</p>
			</div>
			<div class="col-md-6 col-sm-6 hidden-xs">
				<div class="logo">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/peterpan/peterpan_1_logo.png') }}" alt="PETERPAN"  class="img-responsive">
				</div>
			</div>
		</div>
		<div class="sugerido visible-xs">
			<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'peterpan-planograma-sugerido-2' }) }}">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/loupe.png') }}">
				<h1 class="planoTitle">Planimetria Recomendada</h1>
			</a>
		</div> 	
	</div>	
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'peterpan-planograma-sugerido-2' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="{{ 'planograms_suggested' | trans |  raw }}" data-placement="top" title="2/2" data-trigger="hover">
	</a>
</div>
{% endblock %}
