{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas peterpan sugerido2">
	<div class="title clearfix">
		<h1 class="mainTitle">Planograma Sugerido (Vertical)</h1>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
			<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
		</a>
	</div>
	<div class="row">
		<div class="img1 col-md-6 col-sm-6 col-xs-12">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/peterpan/peterpan_2_1.png') }}" alt="peterpan" class="img-responsive center-block">
		</div>
		<div class="img2 col-md-6 col-sm-6 col-xs-12">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/peterpan/peterpan_2_2.png') }}" alt="peterpan" class="img-responsive img2 center-block">
		</div>
	</div>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'peterpan-indicaciones-generales' }) }}" class="pageButton previousButton"
		data-toggle="popover" data-content="{{ 'planograms_suggested' | trans |  raw }}" data-placement="top" title="1/2" data-trigger="hover">
	</a>
</div>
{% endblock %}
