{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas snackpack">
	<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
		<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
	</a>
	<h1 class="mainTitle">Planograma Horizontal</h1>
	<div class="row">
		<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'snackpack-planograma-sugerido-3' }) }}">
			<div class="img1 col-md-12">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/snackpack/snackpack_2_1.png') }}" alt="snackpack"  class="img-responsive center-block">
			</div>
		</a>
	</div>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'snackpack-indicaciones-generales' }) }}" class="pageButton previousButton"
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="1/3" data-trigger="hover">
	</a>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'snackpack-planograma-sugerido-3' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="3/3" data-trigger="hover">
	</a>
</div>
{% endblock %}
