{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas snackpack snackpack_background">
	<div class="visible-xs">
		<div class="logo_m">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/snackpack/snackpack_1_logo.png') }}" alt="snackpack"  class="img-responsive logo-image center-block">
		</div>
	</div>
	<div class="title clearfix">
		<h1 class="mainTitle">Snack Pack</h1>
		<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
			<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
		</a>
	</div>
	<div class="generales clearfix">
		<div class="indicaciones row">
			<div class="col-md-9 col-sm-9 col-xs-12">
			 	<p>
			 			{{ 'planograms_generals_snackpack' | trans |  raw }}
			 	</p>
		 	</div>
			<div class="col-md-3 col-sm-3 hidden-xs">
				<div class="logo">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/snackpack/snackpack_1_logo.png') }}" alt="SNACKPACK"  class="img-responsive pull-right">
				</div>
			</div>
		</div>
		<div class="sugerido visible-xs">
			<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'snackpack-planograma-sugerido-2' }) }}">
				<img src="{{ asset('bundles/odiseoconagra/images/planogramas/loupe.png') }}">
				<h1 class="planoTitle">{{ 'planograms_suggested' | trans |  raw }}</h1>
			</a>
		</div> 
	</div>	
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'snackpack-planograma-sugerido-2' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="{{ 'planograms_suggested' | trans |  raw }}" data-placement="top" title="2/3" data-trigger="hover">
	</a>
</div>
{% endblock %}
