{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas wesson sugerido2">
	<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
		<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
	</a>
	<h1 class="mainTitle">Planograma Sugerido Bloque Completo</h1>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'wesson-planograma-sugerido-3' }) }}">
		<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_2.png') }}" alt="wesson"  class="center-block img-responsive img1">
	</a>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'wesson-indicaciones-generales' }) }}" class="pageButton previousButton"
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="1/3" data-trigger="hover">
	</a>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'wesson-planograma-sugerido-3' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="3/3" data-trigger="hover">
	</a>
</div>
{% endblock %}
