{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas wesson">
	<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
		<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
	</a>
	<h1 class="mainTitle">Wesson</h1>
	<div class="generales clearfix">
		<div class="indicaciones  row">
			<div class="col-md-8 col-sm-8 col-xs-12">
			 	<p>
					Wesson  desde 1899 ha desarrollado productos de alta calidad y pioneros en varios de los tipos de aceites que hoy se comercialización como la Canola y el aceite comestible vegetal.
					<br><br>				
					A continuación nuestra recomendación para la planimetría  ideal para Wesson, donde la exhibición preferible es la vertical en bloque cuadrado. 
			 	
			 	</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="logo">
					<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_1_logo.png') }}" alt="WESSON"  class="img-responsive logo-image">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="contenido center-block">
					<div class="img">
						<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_1_1.png') }}" class="img-responsive logo-image">
					</div>
					<div class="img">
						<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_1_2.png') }}" class="img-responsive logo-image">
					</div>
					<div class="img">
						<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_1_3.png') }}" class="img-responsive logo-image">
					</div>
					<div class="img">
						<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_1_4.png') }}" class="img-responsive logo-image">
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'wesson-planograma-sugerido-2' }) }}" class="pageButton nextButton" 
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="2/3" data-trigger="hover">
	</a>	
</div>
{% endblock %}
