{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block content %}
<div class="planogramas wesson sugerido3">
	<a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}" class="backButton pull-right">
		<img src="{{ asset('bundles/odiseoconagra/images/volverInicioButton.png') }}">
	</a>
	<h1 class="mainTitle">Planograma Sugerido Bloque Completo</h1>
	<div class="row">
		<div class="img1 col-md-7 col-sm-7 col-xs-12 ">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_3_1.png') }}" alt="wesson"  class="img-responsive img1 center-block">
		</div>
		<div class="img2 col-md-5 col-sm-5 col-xs-12">
			<img src="{{ asset('bundles/odiseoconagra/images/planogramas/wesson/wesson_3_2.png') }}" alt="wesson"  class="img-responsive img2 center-block">
		</div>
	</div>
	<a href="{{ path('odiseo_conagra_frontend_planogramas_page', { 'page': 'wesson-planograma-sugerido-2' }) }}" class="pageButton previousButton"
		data-toggle="popover" data-content="Planogramas sugeridos" data-placement="top" title="2/3" data-trigger="hover">
	</a>
</div>
{% endblock %}
