{% extends 'OdiseoConAgraBundle:Frontend:Intro/layout.html.twig' %}
 
{% block content %}
<div class="welcome">
	<img src="{{ asset('bundles/odiseoconagra/images/logo_conagra_white.png') }}" class="logo center-block">
	<h2>{{ 'welcome' | trans |  raw }}</h2>
	<h4>{{ 'conagra_information_platform' | trans |  raw }}</h4>
	<ul class="actions">
		<li>
			<a href="{{ path('fos_user_registration_register') }}" class="btn btn-borderer">Nuevo ingreso / registro</a>
		</li>
		<li>
			<a href="{{ path('fos_user_security_login') }}" class="btn btn-borderer">Login</a>
		</li>
	</ul>
</div>
{% endblock %}
