{% if error %}
<div class="alert alert-danger">
	{{ error|trans({}, 'FOSUserBundle') }}
</div>
{% endif %}	
<form class="form" action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<div class="row form-group">
			<div class="col-xs-12 col-sm-12">
				<input type="text" class="form-control" value="{{ last_username }}" name="_username" id="register_mail" placeholder="{{ 'login_email' | trans |  raw }}"
					data-rule-required="true"
				>
			</div> 
		</div>
		<div class="row form-group">
			<div class="col-xs-12 col-sm-12">
				<input type="password" class="form-control" name="_password" id="register_password" placeholder="{{ 'login_password' | trans |  raw }}"
					data-rule-required="true"
				>
			</div>     
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<a href="#" class="forgotPassword">¿Olvidó su contraseña?</a>
			</div>     
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 buttons">
				<a href="{{ path('odiseo_conagra_frontend_index') }}" class="btn btn-default cancelButton">{{ 'login_cancel' | trans |  raw }}</a>
				<button  type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-danger submitButton">{{ 'login_login' | trans |  raw }}</button>
			</div>
		</div>
</form>