<form class="form" action="{{ path('fos_user_registration_register') }}"  {{ form_enctype(form) }} method="post">
       	<div class="row form-group">
           	<div class="col-xs-12 col-sm-6 customSelect">
           		<select class="form-control" name="fos_user_registration_form[country]" id="register_country"
           			data-rule-required="true">
           			<option value="1">Argentina</option>
					<option value="2">Estados Unidos</option>
       			</select>
           	</div>
           	<div class="col-xs-12 col-sm-6">
           		<input type="text" class="form-control" name="fos_user_registration_form[distributor]" id="register_distributor" placeholder="Distribuidor"
					data-rule-required="true"
           		>
           	</div>
       	</div>
		<div class="row form-group">
			<div class="col-xs-12 col-sm-6">
				<input type="text" class="form-control" name="fos_user_registration_form[fullName]" id="register_name" placeholder="Nombre"
					data-rule-required="true"
				>
			</div>
			<div class="col-xs-12 col-sm-6">
				<input type="text" class="form-control" name="fos_user_registration_form[email]" id="register_mail" placeholder="Mail"
					data-rule-required="true" data-rule-email="true"
				>
			</div>     
		</div>
		<div class="row form-group">
           	<div class="col-xs-12 col-sm-6 customSelect">
           		<select class="form-control" name="fos_user_registration_form[position]" id="register_charge"
           			data-rule-required="true"
           			>
           			<option value="">Cargo</option>
           			<option value="1">Empresario</option>
           		</select>
       		</div>
			<div class="col-xs-12 col-sm-6">
				<input type="password" class="form-control" name="fos_user_registration_form[plainPassword]" id="register_password" placeholder="Crear contraseña"
					data-rule-required="true"
				>
			</div>     
		{{ form_row(form._token) }}
		</div>
		<div class="row">
			<div class="hidden-xs col-sm-6">
			</div>
			<div class="col-xs-12 col-sm-6">
				<a href="{{ path('odiseo_conagra_frontend_index') }}" class="btn btn-default cancelButton">Cancelar</a>
				<button type="submit" class="btn btn-danger submitButton" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}">Ingresar</button>
			</div>
		</div>
</form>