{% extends 'OdiseoConAgraBundle:Frontend:layout.html.twig' %}
 
{% block menu %}{% endblock %}

{% block content %}
<div class="quien_es" style="margin-top: 30px;">
	<div class="row">
			<a class="col-md-4 col-sm-4 boxes" href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': 'our-purpose' }) }}">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/bt01.jpg') }}" alt="Quién es Conagra"  class="center-block img-responsive">
			</a>
					
			
			<a class="col-md-4 col-sm-4 boxes" href="{{ path('odiseo_conagra_frontend_conagra_latam_page', { 'page': 'conagra-latam' }) }}">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/bt03.jpg') }}" alt="ConAgra Latam"  class="center-block img-responsive">
			</a>
			
			<a class="col-md-4 col-sm-4 boxes" href="{{ path('odiseo_conagra_frontend_entrenamiento_marcas_index') }}">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/bt02.jpg') }}" alt="Entrenamiento de las marcas"  class="center-block img-responsive">
			</a>
					
	
	</div>
	<div class="row">
			<a class="col-md-4 col-sm-4 boxes " href="{{ path('odiseo_conagra_frontend_planogramas_index') }}">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/bt04.jpg') }}" alt="Planogramas"  class="center-block img-responsive">
			</a>
					
			<a class="col-md-4 col-sm-4 boxes" href="{{ path('odiseo_conagra_frontend_promociones_index') }}">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/bt05.jpg') }}" alt="Promociones"  class="center-block img-responsive">
			</a>
					
			<a class="col-md-4 col-sm-4 boxes" href="#">
				<img src="{{ asset('bundles/odiseoconagra/images/quienesconagra/bt06.jpg') }}" alt="Evaluación"  class="center-block img-responsive">
			</a>
	</div>
	</div>
</div>
{% endblock %}