<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
		<meta name="keywords" content="conagra">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        
        <title>{% block title %}ConAgra Foods{% endblock %}</title>
        
	    <!-- stylesheets -->
	    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
	    
		{# stylesheets... #}
		{% block stylesheets %}
		{% stylesheets output='css/frontend.min.css' filter='cssrewrite'
			'bundles/odiseoconagra/css/bootstrap.min.css'
			'bundles/odiseoconagra/css/vendor/magnific-popup.css'
			'bundles/odiseoconagra/css/base.css'
			'bundles/odiseoconagra/css/main.css'
			'bundles/odiseoconagra/css/media-queries.css'
			'bundles/odiseoconagra/css/planogramas.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		{% endblock %}
    </head>
    <body>
    	<div class="container wrapper">
    		{% block header %}
    		<header>
    			<div class="config" data-locale="{{app.request.getLocale()}}"></div>
    		
    		
	    		<nav class="navbar navbar-default" role="navigation">
	    			<!-- Brand and toggle get grouped for better mobile display -->
	    			<div class="navbar-header">
		      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu">
		        			<span class="sr-only">Toggle navigation</span>
		        			<span class="icon-bar"></span>
		        			<span class="icon-bar"></span>
		        			<span class="icon-bar"></span>
		      			</button>
		      					<a class="navbar-brand" href="http://www.conagrafoods.com" target="_blank"><img src="{{ asset('bundles/odiseoconagra/images/logo_conagra.png') }}"></a>
	    			</div>
	    			<div class="logout"> 
	    				{{ locale_switcher() }}
	    				<span> {{ app.user.fullname}}  &nbsp; &nbsp; &nbsp; &nbsp;   </span>
	    				
	    				<a href="{{ path('fos_user_security_logout') }}"> {{ 'logout' | trans | raw }}</a>
	    			</div>
	
					{% block menu %}
	    			<!-- Collect the nav links, forms, and other content for toggling -->
	    			<div class="collapse navbar-collapse" id="mainMenu">
	      				<ul class="nav navbar-nav">
	      					<li class="home"><a href="{{ path('odiseo_conangra_frontend_home') }}"><span>HOME</span></a></li>
	        				<li {{ is_on_routes(['odiseo_conagra_frontend_quien_es_page'])?'class="active"':''}}">
	        					<a href="{{ path('odiseo_conagra_frontend_quien_es_page', { 'page': 'our-purpose' }) }}"><span> {{ 'menu_who_we_are' | trans |  raw }} </span></a>
	        				</li>
	        				<li {{ is_on_routes(['odiseo_conagra_frontend_entrenamiento_marcas'])?'class="active"':'' }}><a href="{{ path('odiseo_conagra_frontend_entrenamiento_marcas_index') }}"><span>{{ 'menu_brands_training' | trans |  raw }}</span></a></li>
	        				<li {{ is_on_routes(['odiseo_conagra_frontend_conagra_latam'])?'class="active"':'' }}><a href="{{ path('odiseo_conagra_frontend_conagra_latam_page') }}"><span>{{ 'menu_conagra_latam' | trans |  raw }}</span></a></li>
	        				<li {{ is_on_routes(['odiseo_conagra_frontend_planogramas'])?'class="active"':'' }}><a href="{{ path('odiseo_conagra_frontend_planogramas_index') }}"><span>{{ 'menu_planograms' | trans |  raw }}</span></a></li>
	        				<li {{ is_on_routes(['odiseo_conagra_frontend_promociones'])?'class="active"':'' }}><a href="{{ path('odiseo_conagra_frontend_promociones_index') }}"><span>{{ 'menu_promos' | trans |  raw }}</span></a></li>
	      				</ul>
	    			</div><!-- /.navbar-collapse -->
	    			{% endblock %}
	    			
	    		
	    			
	    			
				</nav>
    		</header>
    		{% endblock %}
    		
    		{% block main %}
    		<div id="content">
				{% block content %}
				{% endblock %}
			</div>
			{% endblock %}
			<footer>
				<img src="{{ asset('bundles/odiseoconagra/images/brands_footer.jpg') }}" class="center-block img-responsive">
			</footer>
		</div>
		
		<!-- javascript -->
		{# javascripts... #}
		{% block javascripts %}
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		{% javascripts output='js/frontend.min.js'
		   'bundles/odiseoconagra/js/vendor/bootstrap.min.js'
		   'bundles/odiseoconagra/js/vendor/jquery.magnific-popup.min.js'
		   'bundles/odiseoconagra/js/vendor/jquery.slimscroll.min.js'
		   'bundles/odiseoconagra/js/main.js'	
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% endblock %}
    </body>
</html>
